{% extends "voc2.j2" %}

{% block summary %}
<p>
 Dit vocabularium heeft status <a href="https://data.vlaanderen.be/id/concept/StandaardStatus/KandidaatStandaard">Kandidaat Standaard</a> en werd uitgegeven op 2025-09-11.
</p>

<p>Deze versie is gebouwd met de OSLO toolchain v4. Deze toolchain introduceert geen inhoudelijke of semantische wijzigingen ten opzichte van vorige versie, maar biedt wel enkele verbeteringen: 

<ul>
<li>
Externe terminologie wordt automatisch mee gepubliceerd, wat zorgt voor rijkere en beter geïntegreerde standaarden. 
</li>
<li>
SHACL-templates worden samen met de standaarden gepubliceerd, waardoor validatie en implementatie eenvoudiger worden. 
</li>

</p>

<p>
Informatie over het gevolgde proces en de beslissingen om tot deze specificatie te komen zijn beschikbaar in het <a href="https://data.vlaanderen.be/standaarden/applicatieprofiel-slimme-raadpleegomgeving">standaardenregister</a>.
</p>

<p>Dit vocabularium voegt zaken toe aan bestaande standaarden rond Besluiten om besluiten van het lokaal bestuur te verrijken met gestandaardiseerde data op vlak van beleidsthema’s, adres/locatie, gecoördineerde versie’s, Lokale Producten- en DienstenCataloog (LPDC), initiatiefrecht en voorwaardelijk recht. Op basis van deze gestandaardiseerde data kunnen raadpleegomgevingen beter uitgewerkt worden op maat van de burger. 
Deze standaard kwam tot stand door het Gemeente zonder Gemeente-traject <a href=” https://www.vlaanderen.be/lokaal-bestuur/goedgekeurde-projecten/slimme-raadpleegomgeving-in-de-broekzak-van-de-burger”>Slimme raadpleegomgeving in de broekzak van de burger</a>.</p>
{% endblock %}
