{% extends "voc2.j2" %}

{% block summary %}
<p>Dit vocabularium voegt zaken toe aan bestaande standaarden rond Besluiten om besluiten van het lokaal bestuur te verrijken met gestandaardiseerde data op vlak van beleidsthema’s, adres/locatie, gecoördineerde versie’s, Lokale Producten- en DienstenCataloog (LPDC), initiatiefrecht en voorwaardelijk recht. Op basis van deze gestandaardiseerde data kunnen raadpleegomgevingen beter uitgewerkt worden op maat van de burger. 
Deze standaard kwam tot stand door het Gemeente zonder Gemeente-traject <a href=” https://www.vlaanderen.be/lokaal-bestuur/goedgekeurde-projecten/slimme-raadpleegomgeving-in-de-broekzak-van-de-burger”>Slimme raadpleegomgeving in de broekzak van de burger</a>.</p>
{% endblock %}
