{% extends "ap2.j2" %}

{% block summary %}
<p>Dit applicatieprofiel laat toe om besluiten van het lokaal bestuur te verrijken met gestandaardiseerde data op vlak van beleidsthema’s, adres/locatie, gecoördineerde versie’s, Lokale Producten- en DienstenCataloog (LPDC), initiatiefrecht en voorwaardelijk recht. Op basis van deze gestandaardiseerde data kunnen raadpleegomgevingen beter uitgewerkt worden op maat van de burger. 
Deze standaard kwam tot stand door het Gemeente zonder Gemeente-traject <a href="https://www.vlaanderen.be/lokaal-bestuur/goedgekeurde-projecten/slimme-raadpleegomgeving-in-de-broekzak-van-de-burger">Slimme raadpleegomgeving in de broekzak van de burger</a>.</p>

<p>Een Legale Activiteit is een activiteit die plaatsvindt in een juridische context. Hierbij kunnen Personen en Organisaties participeren, al dan niet in een bepaalde Rol. Een Organisatie is hierbij een groep mensen volgens <a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-organisatie-basis.html">OSLO Organisatie Basis</a>. Legale Activiteiten kunnen gebundeld worden via een Legaal Proces. Voor verdere uitwerking hiervan verwijzen we door naar de Europese standaard <a href="https://joinup.ec.europa.eu/collection/eli-european-legislation-identifier/solution/eli-ontology-draft-legislation-eli-dl/about">ELI-Draft Legislation</a>.</p>

<p>Een Behandeling Van Agendapunt is een specifieke Legale Activiteit die verder opgesplitst kan worden in sub-activiteiten: 1) Beslissingsactiviteit beschrijft de beoordeling door de bevoegde(n), 2) InitiatiefrechtVraag  beschrijft de uitoefening van de bevoegdheden van de mandataris om informatie te bekomen die toegankelijk is via het inzage- en controlerecht, alsook het voorstellen met het oog op uitlokken van besluitvorming, en 3) InitiatiefrechtAntwoord beschrijft het antwoord van de bevoegde dienst of mandataris op een initiatiefrechtVraag.</p>

<p>De Beslissingsactiviteit kan gemotiveerd worden door een Adviesantwoord (de input van een partij). De Behandeling Van Agendapunt kan een Stuk, zoals een ontwerpbesluit, gebruiken als input. Een Initiatiefrechtvraag kan verwijzen naar een ontwerpbesluit (Stuk) dat voorgesteld wordt via de relatie "heeftOntwerpbesluit".</p>

<p>Er zijn eigenschappen voorzien op Stuk om beleidsthema’s, adres/locatie en trefwoorden toe te voegen. Legale verschijningsvormen, zoals een Besluit en Artikel, kunnen deze gebruiken. Uitgewerkte voorbeelden hiervan zijn beschikbaar op <a href="https://github.com/Informatievlaanderen/OSLOthema-slimmeRaadpleegOmgeving?tab=readme-ov-file#locatie-gebaseerde-informatie">Github</a>.</p>

<p>Een gecoördineerd reglement is een type Besluit dat andere (wijzigings)besluiten consolideert. Indien dit reglement als bijlage bij een besluit wordt opgenomen, gebruiken we de "is deel van"-relatie. Omgekeerd wordt de "is gerelateerd"-relatie gebruikt om het besluit te verbinden met het gecoördineerd reglement.</p> 

<p>Er is een relatie voorzien tussen Notificatiebericht en Legale Verschijningsvorm. Dit is relevant voor applicaties die doelgroepen willen informeren over besluiten die genomen werden. Voor de verdere uitwerking verwijzen we door naar de <a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-notificatie-basis.html">OSLO Notificatie Basis</a> standaard.</p>

<p>De Behandeling Van Agendapunt kan verwijzen naar een Instantie Publieke Dienstverlening (LPDC-product) via de gebruikte-relatie, bijvoorbeeld een Instantie Publieke Dienstverlening dat nog in ontwerpfase is. Wanneer er goedkeuring is, kan het desbetreffende Besluit verwijzen naar de Instantie Publieke Dienstverlening via de bekrachtigt-relatie.</p>

<p>Dit applicatieprofiel laat ook toe om de toekenning van een bepaald recht onder voorwaarden te beschrijven. Hiervoor werd gealigneerd met de <a href="https://www.researchgate.net/publication/374008980_The_FLINT_Ontology_An_Actor-Based_Model_of_Legal_Relations">FLINT ontologie</a> om  te beschrijven welke Handelingen mogelijk zijn binnen een normatief systeem van Feiten. Bijvoorbeeld "een boek uitlenen" is een Handeling dat een Feit "gebruiker heeft een boek uitgeleend" creëert. Zo beschouwen we in de besluitvorming een Behandeling Van Agendapunt als een Handeling dat Rechten en Plichten kan creëeren (of beëindigen) met bijhorende Voorwaarden. Bijvoorbeeld de toelating (Recht) om met een drone in een gebied (Voorwaarde) te vliegen.</p>	

<p>Een tweede deel van dit applicatieprofiel biedt de mogelijkheid om besluiten te verrijken via Annotaties. In plaats van rechtstreeks attributen aan een Besluit te hangen, wat verwacht wordt van notuleringspakketten, worden er Annotaties aangemaakt dat inhoud (beleidsthema’s, adres/locatie, LPDC producten…) verbindt met Besluiten. Annotaties zorgen ervoor dat externe systemen, zoals Artificiële Intelligentie en crowdsourcing, achteraf verrijkingen kunnen toevoegen. Op welke manier deze aanpassingen gebeuren (toevoegen, wissen, updaten) wordt gedocumenteerd met Activiteit.</p> 

<p>Resource Onderdeel laat toe om een onderdeel van een Resource te identificeren, bijvoorbeeld een paragraaf in een Besluit of een fragment van een video-opname. Hiervoor worden Selectoren gebruikt die afhangen van het soort Resource. TekstQuote- en TekstPositieSelector worden gebruikt om een stuk tekst af te bakenen. FragmentSelector om een stuk van een opname (tijdsinterval) of afbeelding (pixels) te selecteren. ShaclPathSelector is een nieuw type Selector om via een SHACL property path een bepaalde attribuutwaarde te selecteren. Bijvoorbeeld, de property path "http://www.w3.org/ns/prov#value" wordt gebruikt om de <a href="https://data.vlaanderen.be/doc/applicatieprofiel/besluit-publicatie/#Legale%20Verschijningsvorm">inhoud</a> van een Besluit te selecteren. Deze inhoud kan dan verder verfijnd worden door tekstselectoren.</p>

<p>Meer info over het gebruik van Annotatie en Selector is te vinden in de <a href="https://www.w3.org/TR/annotation-model/">W3C Web Annotation Data Model</a>. Meer info over Activiteit kan gevonden worden in de <a href="https://www.w3.org/TR/activitystreams-core/">W3C Activity Streams</a> standaard.</p>

{% endblock %}
